<form method="post" action="/todo">
    <label for="task_name">Task name:</label><br>
    <input type="text" id="task_name" name="task_name"><br>

    <label for="task_desc">Task description:</label><br>
    <input type="text" id="task_name" name="task_name"><br>

    <input type="submit" value="Create">
</form>