<%# <form method="post" action="/todos">
    <label for="fname">Fruit name:</label><br>
    <input type="text" id="fname" name="fname"><br>

    <label for="ftaste">Fruit Tastyness:</label><br>
    <input type="number" min="0" max="10" id="ftaste" name="ftaste"><br>

    <label for="fdesc">Fruit description:</label><br>
    <input type="text" id="fdesc" name="fdesc"><br>

    <input type="submit" value="Create">
</form> %>